/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#donation-form h1 {
    color: #333;
    text-align: center;
}

#donation-form h2 {
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
}

.accent {
    color: red;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment-method label {
    flex-basis: 48%;
}

button {
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkred;
}
